<footer class="main-footer background-black">
    <div class="main-footer__bg background-black" style="background-image: url(/assets/images/backgrounds/footer-bg-1-1.jpg);"></div>
    <div class="main-footer__top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="footer-widget footer-widget--about">
                        <a href="/" class="footer-widget__logo">
                            <img src="/assets/images/logo-dark.png" width="147" alt="Sachan Krishi Yantra Udyog">
                        </a>
                        <ul class="list-unstyled footer-widget__info">
                            <li>
                                <span class="footer-widget__info__icon"><i class="icofont-clock-time"></i></span>
                                Open Hours of Government: Mon - Fri: 8.00 am. - 6.00 pm.
                            </li>
                            <li>
                                <span class="footer-widget__info__icon"><i class="icofont-location-pin"></i></span>
                                Ward no. 15, Near power house, Ambikapur Road. Town- Ramanujganj, balrampur,chhattisgarh.
                            </li>
                            <li>
                                <span class="footer-widget__info__icon"><i class="icofont-phone"></i></span>
                                <a href="tel:+919754424455">+91-9754424455</a>
                            </li>
                            <li>
                                <span class="footer-widget__info__icon"><i class="icofont-phone"></i></span>
                                <a href="tel:+916260430174">+91-6260430174</a>
                            </li>
                            <li>
                                <span class="footer-widget__info__icon"><i class="icofont-phone"></i></span>
                                <a href="tel:+919009950684">Manager:- +91-9009950684</a>
                            </li>
                        </ul>
                        <div class="footer-widget__social">
                            <a href="https://facebook.com/">
                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                <span class="sr-only">Youtube</span>
                            </a>
                            <a href="https://instagram.com/">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="footer-widget footer-widget--links">
                        <h2 class="footer-widget__title">Products</h2>
                        <ul class="list-unstyled footer-widget__links">
                            <li><a href="/multi-speed-rotavator-manufacturer-in-raipur">Multi Speed Rotavator</a></li>
                            <li><a href="/metal-tomato-plough-manufacturer-in-chattisgarh">Tomato cultivator</a></li>
                            <li><a href="/tractor-cage-wheel-manufcaturer-in-chattisgarh">Power Weeder</a></li>
                            <li><a href="/rotavator-manufacturer-in-chattisgarh">Rotavator in Chattisgarh</a></li>
                            <li><a href="/rotavator-manufacturer-in-bilaspur">Rotavator in Bilaspur</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xl-2">
                    <div class="footer-widget footer-widget--links footer-widget--links-two">
                        <h2 class="footer-widget__title">Quick Links</h2>
                        <ul class="list-unstyled footer-widget__links">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/tractor-cage-wheel-manufcaturer-in-chattisgarh">Product</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="footer-widget footer-widget--blog">
                        <h5 class="footer-widget__title">Locations</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3650.611102911955!2d83.69697397533737!3d23.79685907863867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjPCsDQ3JzQ4LjciTiA4M8KwNDEnNTguNCJF!5e0!3m2!1sen!2sin!4v1720762260605!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div style="margin-top: 20px;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3667.948537773847!2d83.14699487531831!3d23.172078279069225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjPCsDEwJzE5LjUiTiA4M8KwMDgnNTguNSJF!5e0!3m2!1sen!2sin!4v1766700471145!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer__bottom">
        <div class="container">
            <div class="main-footer__bottom__inner">
                <p class="main-footer__copyright">
                    &copy; Copyright <span class="dynamic-year"></span> Design by <a href="https://getwebindia.com/" target="blank">Get Web India</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</div>
