<div class="page-wrapper">
    <div class="topbar-one">
        <div class="container">
            <div class="topbar-one__inner">
                <ul class="list-unstyled topbar-one__info">
                    <li class="topbar-one__info__item">
                        <i class="icofont-wall-clock topbar-one__info__icon"></i>
                        Mon - Sat 8.00 - 18.00. Sun Closed
                    </li>
                    <li class="topbar-one__info__item">
                        <i class="icofont-location-pin topbar-one__info__icon"></i>
                        Ramanujganj, Balrampur,Chhattisgarh.
                    </li>
                </ul>
                <div class="topbar-one__right">
                    <div class="topbar-one__social">
                        <a href="https://facebook.com/">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                        <a href="https://twitter.com/">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                        <a href="https://instagram.com/">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="main-header sticky-header sticky-header--normal">
        <div class="container-fluid">
            <div class="main-header__inner">
                <div class="main-header__logo">
                    <a href="/">
                        <img src="/assets/images/logo-dark.png" alt="Sachan Krishi Yantra Udyog" width="147">
                    </a>
                </div>
                <nav class="main-header__nav main-menu">
                    <ul class="main-menu__list">
                        <li class="#">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">Products</a>
                            <ul>
                                <li class="dropdown">
                                    <a href="#">Agricultural Plough</a>
                                    <ul>
                                        <li><a href="/metal-tomato-plough-manufacturer-in-chattisgarh">Metal Tomato Plough</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Agriculture Rotavator</a>
                                    <ul>
                                        <li><a href="/feet-sachan-rotavator-manufacturer-in-bhilai">6 Feet Sachan Rotavator</a></li>
                                        <li><a href="/rotavator-agriculture-equipment-wholesaler-in-chattisgarh">Rotavator Agricultural Equipment</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Multi Speed Rotavator</a>
                                    <ul>
                                        <li><a href="/multi-speed-rotavator-manufacturer-in-raipur">Tractor Multispeed Rotavator</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Tractor Rotavator</a>
                                    <ul>
                                        <li><a href="/tractor-rotavator-wholesaler-in-raipur">7 Feet Tractor Operated Rotavator</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Power Weeder</a>
                                    <ul>
                                        <li><a href="/tractor-cage-wheel-manufcaturer-in-chattisgarh">Tractor Cage Wheel</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/video">Video</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="main-header__right">
                    <div class="mobile-nav__btn mobile-nav__toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-header__right__border"></div>
                    <div class="main-header__call">
                        <div class="main-header__call__icon"><span class="icon-phone-call-two"></span></div>
                        <div class="main-header__call__title">Requesting a Call:</div>
                        <a class="main-header__call__text" href="tel:+919754424455">+91-9754424455</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>
            <div class="logo-box">
                <a href="/" aria-label="logo image"><img src="/assets/images/logo-dark.png" width="155" alt="" /></a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:amanyes19@gmail.com">amanyes19@gmail.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+919754424455">+91-9754424455</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+916260430174">+91-6260430174</a>
                </li>
            </ul>
            <div class="mobile-nav__social">
                <a href="https://facebook.com/">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://twitter.com/">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                    <span class="sr-only">Youtube</span>
                </a>
                <a href="https://instagram.com/">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
            </div>
        </div>
    </div>

    <aside class="sidebar-one">
        <div class="sidebar-one__overlay"></div>
        <div class="sidebar-one__content">
            <div class="sidebar-one__close"><i class="icofont-close-line"></i></div>
            <div class="sidebar-one__logo">
                <a href="/" aria-label="logo image"><img src="/assets/images/logo-dark.png" alt="Sachan Krishi Yantra Udyog" width="147"></a>
            </div>
            <p class="sidebar-one__text">
                Established in the year 2006, we "Sachan Krishi Yantra Udyog" are the leading Manufacturer, Wholesaler of a wide range of Agriculture Rotavator, Tractor Rotavator Power Weeder etc.
            </p>
            <h4 class="sidebar-one__title">Contact Info:</h4>
            <ul class="sidebar-one__info">
                <li>
                    <span class="fas fa-map-marker-alt"></span>
                    Ward no. 15, Near power house, Ambikapur Road. Town- Ramanujganj, balrampur,chhattisgarh
                </li>
                <li>
                    <span class="fas fa-envelope"></span>
                    <a href="mailto:amanyes19@gmail.com">amanyes19@gmail.com</a>
                </li>
                <li>
                    <span class="fas fa-phone-alt"></span>
                    <a href="tel:+919754424455">+91-9754424455</a>
                </li>
                <li>
                    <span class="fas fa-phone-alt"></span>
                    <a href="tel:+916260430174">+91-6260430174</a>
                </li>
            </ul>
            <div class="sidebar-one__social">
                <a href="https://facebook.com/">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://twitter.com/">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                    <span class="sr-only">Youtube</span>
                </a>
                <a href="https://instagram.com/">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
            </div>
        </div>
    </aside>

    <a href="#" class="scroll-top">
        <svg class="scroll-top__circle" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </a>
