<%- include('../../partials/head') %>
<style>
    #gallery img{
        margin:20px;
        border:2px solid #44a05b;
    }
</style>
<%- include('../../partials/header') %>

<section class="page-header">
    <div class="page-header__shape-left"></div>
    <div class="page-header__shape-right"></div>
    <div class="page-header__bg"></div>
    <div class="container">
        <h1 class="page-header__title bw-split-in-down">Metal Tomato Plough Manufacturer In Chattisgarh</h1>
        <ul class="alefox-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>Products</span></li>
        </ul>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-6" id="gallery">
            <img src="/assets/images/products/p1.jpg" alt="Metal Tomato Plough">
        </div>
        <div class="col-lg-6">
            <h2 style="margin:20px;">Metal Tomato Plough</h2>
            <p>A plough is one of the agricultural tools used for the initial soil cultivation in preparation for seed sowing or planting to loosen or turn the soil. It is usually made of wood and is drawn by two bulls. It has been used since ancient times for tiling, turning the soil and adding fertilizers. The "Metal Tomato Plough" is a unique and innovative agricultural tool designed for efficiency and durability. It combines robust metal construction with advanced ploughing technology to enhance soil preparation. Ideal for large-scale tomato cultivation, it features precision-engineered blades to ensure optimal soil aeration and tillage.</p>
        </div>
    </div>
    <a href="/contact" style="margin-top: -210px; width: 133px; margin-left: 603px; background:#44a05b;" class="btn btn-warning">Enquiry Now</a>
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/scripts') %>
