<%- include('../../partials/head') %>
<style>
    #gallery img{
        margin:20px;
        border:2px solid #44a05b;
    }
</style>
<%- include('../../partials/header') %>

<section class="page-header">
    <div class="page-header__shape-left"></div>
    <div class="page-header__shape-right"></div>
    <div class="page-header__bg"></div>
    <div class="container">
        <h1 class="page-header__title bw-split-in-down">Multi Speed Rotavator Manufacturer In Raipur</h1>
        <ul class="alefox-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>Products</span></li>
        </ul>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-6" id="gallery">
            <img src="/assets/images/products/p4.jpg" alt="Multi Speed Rotavator">
        </div>
        <div class="col-lg-6">
            <h2 style="margin:20px;">Tractor Multispeed Rotavator</h2>
            <p>Our product range includes a wide range of Tractor Multispeed Rotavator. This rotavator features multiple speed settings for versatile soil cultivation, allowing farmers to adjust the tillage depth and intensity based on soil conditions. It is designed for durability and efficiency in various farming applications.</p>
        </div>
    </div>
    <a href="/contact" style="margin-top: -210px; width: 133px; margin-left: 603px; background:#44a05b;" class="btn btn-warning">Enquiry Now</a>
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/scripts') %>
