<%- include('../../partials/head') %>
<style>
    #gallery img{
        margin:20px;
        border:2px solid #44a05b;
    }
</style>
<%- include('../../partials/header') %>

<section class="page-header">
    <div class="page-header__shape-left"></div>
    <div class="page-header__shape-right"></div>
    <div class="page-header__bg"></div>
    <div class="container">
        <h1 class="page-header__title bw-split-in-down">Tractor Cage Wheel Manufacturer In Chattisgarh</h1>
        <ul class="alefox-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>Products</span></li>
        </ul>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-6" id="gallery">
            <img src="/assets/images/products/p6.jpg" alt="Tractor Cage Wheel">
        </div>
        <div class="col-lg-6">
            <h2 style="margin:20px;">Tractor Cage Wheel</h2>
            <p>Pioneers in the industry, we offer Tractor Cage Wheel from India. These cage wheels are designed to provide excellent traction in wet and muddy field conditions, making them essential for paddy farming and other applications where standard tires would slip.</p>
        </div>
    </div>
    <a href="/contact" style="margin-top: -210px; width: 133px; margin-left: 603px; background:#44a05b;" class="btn btn-warning">Enquiry Now</a>
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/scripts') %>
