<%- include('../partials/head') %>
<%- include('../partials/header') %>

<section class="page-header">
    <div class="page-header__shape-left"></div>
    <div class="page-header__shape-right"></div>
    <div class="page-header__bg"></div>
    <div class="container">
        <h2 class="page-header__title bw-split-in-down">Contact Us</h2>
        <ul class="alefox-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>Contact</span></li>
        </ul>
    </div>
</section>

<section class="contact-info contact-info--contact-page">
    <div class="container">
        <div class="row gutter-y-30">
            <div class="col-lg-4 col-md-6">
                <div class="contact-info__item">
                    <div class="contact-info__item__icon"><span class="icon-phone-call"></span></div>
                    <div class="contact-info__item__content">
                        <h3 class="contact-info__item__title">Call This Now</h3>
                        <p class="contact-info__item__text"><a href="tel:+919754424455">+91-9754424455 <br> +91-6260430174 <br>Manager:-<br> +91-9009950684</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-info__item">
                    <div class="contact-info__item__icon"><span class="icon-email"></span></div>
                    <div class="contact-info__item__content">
                        <h3 class="contact-info__item__title">Mail</h3>
                        <p class="contact-info__item__text"><a href="mailto:info@sachanudyog.com">info@sachanudyog.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-info__item">
                    <div class="contact-info__item__icon"><span class="icon-location"></span></div>
                    <div class="contact-info__item__content">
                        <h3 class="contact-info__item__title">Your Location</h3>
                        <p class="contact-info__item__text">Ward no. 15, Near power house, Ambikapur Road. Town- Ramanujganj, balrampur,chhattisgarh.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-two">
    <div class="contact-two__bg" style="background-image: url(/assets/images/backgrounds/contact-bg-2.jpg);"></div>
    <div class="contact-two__shape" style="background-image: url(/assets/images/shapes/contact-2-shape-1.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-5">
                <form class="contact-two__form contact-form-validated form-one wow fadeInUp" data-wow-duration="1500ms" action="/contact" method="POST">
                    <div class="sec-title text-center">
                        <h6 class="sec-title__tagline bw-split-in-right"><span class="sec-title__tagline__left-leaf" style="background-image: url(/assets/images/shapes/leaf.png);"></span>Contact Us<span class="sec-title__tagline__right-leaf" style="background-image: url(/assets/images/shapes/leaf.png);"></span></h6>
                        <h3 class="sec-title__title bw-split-in-left">Get in Touch</h3>
                    </div>
                    <% if (typeof success !== 'undefined' && success) { %>
                    <div class="alert alert-success" role="alert">
                        Thank you for your message! We will get back to you soon.
                    </div>
                    <% } %>
                    <div class="form-one__group">
                        <div class="form-one__control form-one__control--full">
                            <input type="text" name="name" placeholder="Name" required>
                        </div>
                        <div class="form-one__control form-one__control--full">
                            <input type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-one__control form-one__control--full">
                            <input type="text" name="address" placeholder="Address">
                        </div>
                        <div class="form-one__control form-one__control--full">
                            <input type="text" name="phone" placeholder="Phone">
                        </div>
                        <div class="form-one__control form-one__control--full">
                            <button type="submit" class="alefox-btn">
                                <span class="alefox-btn__item"></span>
                                <span class="alefox-btn__item"></span>
                                <span class="alefox-btn__item"></span>
                                <span class="alefox-btn__item"></span>
                                Send Request
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-xl-7 d-flex align-items-center wow fadeInUp">
                <ul class="contact-two__list">
                    <li class="contact-two__item">
                        <div class="contact-two__item__icon"><span class="icon-phone-call"></span></div>
                        <div class="contact-two__item__content">
                            <h3 class="contact-two__item__title">Call This Now</h3>
                            <p class="contact-two__item__text"><a href="tel:+919754424455">+91-9754424455</a></p>
                        </div>
                    </li>
                    <li class="contact-two__item">
                        <div class="contact-two__item__icon"><span class="icon-email"></span></div>
                        <div class="contact-two__item__content">
                            <h3 class="contact-two__item__title">Mail</h3>
                            <p class="contact-two__item__text"><a href="mailto:info@sachanudyog.com">info@sachanudyog.com</a></p>
                        </div>
                    </li>
                    <li class="contact-two__item">
                        <div class="contact-two__item__icon"><span class="icon-location"></span></div>
                        <div class="contact-two__item__content">
                            <h3 class="contact-two__item__title">Your Location</h3>
                            <p class="contact-two__item__text">Ward no. 15, Near power house, Ambikapur Road. Town- Ramanujganj, balrampur,chhattisgarh.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
