<%- include('../partials/head') %>
<%- include('../partials/header') %>

<section class="page-header">
    <div class="page-header__shape-left"></div>
    <div class="page-header__shape-right"></div>
    <div class="page-header__bg"></div>
    <div class="container">
        <h2 class="page-header__title bw-split-in-down">Gallery</h2>
        <ul class="alefox-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>Gallery</span></li>
        </ul>
    </div>
</section>

<section class="gallery-one">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="gallery-one__card">
                    <img src="/assets/images/gallery/g1.jpg" alt="">
                    <div class="gallery-one__card__hover">
                        <a href="/assets/images/gallery/g1.jpg" class="img-popup">
                            <span class="gallery-one__card__icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="gallery-one__card">
                    <img src="/assets/images/gallery/g2.jpg" alt="">
                    <div class="gallery-one__card__hover">
                        <a href="/assets/images/gallery/g2.jpg" class="img-popup">
                            <span class="gallery-one__card__icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="gallery-one__card">
                    <img src="/assets/images/gallery/g3.jpg" alt="">
                    <div class="gallery-one__card__hover">
                        <a href="/assets/images/gallery/g3.jpg" class="img-popup">
                            <span class="gallery-one__card__icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="gallery-one__card">
                    <img src="/assets/images/gallery/g4.jpg" alt="">
                    <div class="gallery-one__card__hover">
                        <a href="/assets/images/gallery/g4.jpg" class="img-popup">
                            <span class="gallery-one__card__icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="gallery-one__card">
                    <img src="/assets/images/gallery/g5.jpg" alt="">
                    <div class="gallery-one__card__hover">
                        <a href="/assets/images/gallery/g5.jpg" class="img-popup">
                            <span class="gallery-one__card__icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="gallery-one__card">
                    <img src="/assets/images/gallery/g6.jpg" alt="">
                    <div class="gallery-one__card__hover">
                        <a href="/assets/images/gallery/g6.jpg" class="img-popup">
                            <span class="gallery-one__card__icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="gallery-one__card">
                    <img src="/assets/images/gallery/g7.jpg" alt="">
                    <div class="gallery-one__card__hover">
                        <a href="/assets/images/gallery/g7.jpg" class="img-popup">
                            <span class="gallery-one__card__icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="gallery-one__card">
                    <img src="/assets/images/gallery/g8.png" alt="">
                    <div class="gallery-one__card__hover">
                        <a href="/assets/images/gallery/g8.png" class="img-popup">
                            <span class="gallery-one__card__icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
